<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.padeoe.dao.ISearchDao" >
	<resultMap id="BaseResultMap" type="com.padeoe.pojo.RiskSearchResult" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="possibility" property="possibility" jdbcType="INTEGER" />
	    <result column="influence" property="influence" jdbcType="INTEGER" />
	    <result column="threshold" property="threshold" jdbcType="VARCHAR" />
	    <result column="risk_brief" property="riskBrief" jdbcType="VARCHAR" />
	    <result column="risk_detail" property="riskDetail" jdbcType="VARCHAR" />
	    <result column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List" >
	    risk_t.id, risk_t.possibility, risk_t.influence, risk_t.threshold, risk_t.risk_brief, risk_t.risk_detail, riskStat._count
	</sql>
	<select id="search" resultMap="BaseResultMap" parameterType="com.padeoe.pojo.RiskOperation" >
	    select <include refid="Base_Column_List" />
	    from risk_t, (select risk_id, count(*) _count from risk_operation_t
	    	where state = #{state,jdbcType=INTEGER}
	    	<if test="startTime != null">and update_time &gt;= #{startTime,jdbcType=TIMESTAMP}</if>
	    	<if test="endTime != null">and update_time &lt;= #{endTime,jdbcType=TIMESTAMP}</if>
	    	<if test="projectName != null">and project_name = #{projectName,jdbcType=VARCHAR}</if>
	    	group by risk_id) riskStat
	    where risk_t.id = riskStat.risk_id order by _count desc;
	</select>
        
	<resultMap id="RiskResultMap" type="com.padeoe.pojo.Risk" >
	     <id column="id" property="id" jdbcType="INTEGER" />
	     <result column="possibility" property="possibility" jdbcType="INTEGER" />
	     <result column="influence" property="influence" jdbcType="INTEGER" />
	     <result column="threshold" property="threshold" jdbcType="VARCHAR" />
	     <result column="risk_brief" property="riskBrief" jdbcType="VARCHAR" />
	     <result column="risk_detail" property="riskDetail" jdbcType="VARCHAR" />
	 </resultMap>
	 <sql id="Risk_Column_List" >
	     id, possibility, influence, threshold, risk_brief, risk_detail
	 </sql>
	 <select id="searchExcludeProject" resultMap="RiskResultMap" parameterType="com.padeoe.pojo.RiskOperation">
	 	select <include refid="Risk_Column_List" /> from risk_t where id not in 
	 		(select risk_id from risk_operation_t where project_name = #{projectName,jdbcType=VARCHAR});
	 </select>
	 
</mapper>